/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

body,
textarea,
button,
img,
fieldset,
dialog {
  border: none;
}

textarea {
  resize: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* Normalize */
input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

.hide {
  overflow: hidden;
  visibility: hidden;
}

.mt20 {
  margin-top: 2rem;
}

.mt30 {
  margin-top: 3rem;
}

.mb8 {
  margin-bottom: 0.8rem;
}

.pd24 {
  padding: 2.4rem;
}

.heading-type1 {
  color: #333;
  font-size: 2rem;
  font-Weight: 700;
  letter-spacing: -1px;
}

.text-type1 {
  color: #005BAC;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-type2 {
  color: #777;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.05rem;
}

.image-type1 img {
  width: 100%;
}

.btn-type1 {
  color: #333;
  font-size: 1.4rem;
  font-Weight: 700;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  background: url(../images/ico_btn1.svg) no-repeat right 1.2rem center;
  display: flex;
  border: 0.1rem solid #bdbdbd;
  height: 4.8rem;
  padding-inline: 1.2rem;
}

.box-grid {
  display: block;
}
.box-grid ul {
  display: block;
  list-style: none;
}
.box-grid ul li {
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 0;
}
.box-grid ul li .box__text__title {
  color: #333;
  font-size: 1.4rem;
  font-Weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 4px;
}
.box-grid ul li .box__text__info {
  display: flex;
}
.box-grid ul li .box__text__info span {
  color: #999;
  font-size: 1.4rem;
  font-Weight: 400;
  letter-spacing: -0.5px;
  margin-right: 12px;
}
.box-grid ul li .box__text__info a {
  background: url(../images/icon_mail.svg) no-repeat left 0rem center;
  display: inline-block;
  background-size: 1.8rem 1.4rem;
}
.box-grid ul li .box__text__info a span {
  color: transparent;
  overflow: hiddent;
}
.box-grid ul :last-child {
  border-bottom: 0;
}

.box-board {
  display: block;
}
.box-board ul {
  display: block;
  list-style: none;
}
.box-board ul li {
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
}
.box-board ul li .box__text__title {
  color: #333;
  font-size: 1.4rem;
  font-Weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}
.box-board ul li .box__text__info {
  display: flex;
}
.box-board ul li .box__text__info span {
  color: #999;
  font-size: 1.4rem;
  font-Weight: 400;
  letter-spacing: -0.5px;
  margin-right: 12px;
  line-height: 22px;
}
.box-board ul li .box__text__info .noti {
  background: url(../images/img_noti.svg) no-repeat left 0.1rem center;
  padding-left: 32px;
}
.box-board ul li .box__text__info .view {
  background: url(../images/img_view.svg) no-repeat left 0.1rem center;
  padding-left: 20px;
}

.table-content {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
}
.table-content .dim {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
}
.table-content .dim span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
}

.table-style {
  width: 100%;
  border-collapse: collapse;
  color: #777;
  font-size: 1.4rem;
  font-Weight: 400;
  letter-spacing: -0.5px;
}
.table-style th, .table-style td {
  padding: 16px 14px;
}
.table-style thead tr {
  text-align: center;
  border-top: 2px solid #005BAC;
  border-bottom: 1px solid #005BAC;
  color: #222;
  font-size: 700;
  font-Weight: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.5;
}
.table-style tbody tr {
  border-bottom: 1px solid #f1f1f1;
}
.table-style p {
  color: #777;
  font-size: 1.4rem;
  font-Weight: 400;
  letter-spacing: -0.5px;
}
.table-style .text-box p {
  padding: 0 0 0 20px;
  position: relative;
}

.heading-type5 {
  color: #333;
  font-size: 2.4rem;
  font-Weight: 700;
  letter-spacing: -0.5px;
  word-break: keep-all;
}
.heading-type5 span {
  color: #333;
  font-size: 2.4rem;
  font-Weight: 400;
  letter-spacing: -0.5px;
}

.text-type5-1 {
  color: #333;
  font-size: 1.8rem;
  font-Weight: 400;
  letter-spacing: -0.5px;
  padding-top: 8px;
}

.btn_warp {
  margin-top: 2.4rem;
}
.btn_warp .btn-type5 {
  color: #94C0E9;
  font-size: 1.4rem;
  font-Weight: 700;
  letter-spacing: -0.5px;
  border: 1px solid;
  border-radius: 100px;
  background: url(../images/icon_download.svg) no-repeat right 1.2rem center;
  display: block;
  margin-bottom: 0.8rem;
  line-height: 18px;
  padding: 12px 20px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.list .list-item {
  background-color: #fff;
  padding: 30px 0;
  text-align: center;
  border: 1px solid blue;
  width: 32rem;
  flex-basis: 32rem;
}
.list .list-item .tit {
  color: #333;
  font-size: 2.8rem;
  font-Weight: 700;
  letter-spacing: -1.4px;
}
.list .list-item .desc {
  color: #666;
  font-size: 2rem;
  font-Weight: 400;
  letter-spacing: -1px;
  margin-top: 2rem;
}
.list .list-item .more {
  background: url(../images/bt_more.svg) no-repeat center center;
  width: 4.4rem;
  height: 4.4rem;
  display: inline-block;
  position: static;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
